body {
  font-family: 'Source Sans Pro', sans-serif;
}

header {
  background-image: url(images/pic_1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.text-responsive {
  font-size: 10vw;
}

.black-bg {
  background-color: #071629;
}

.purple-bg {
  background-color: #c271ff;
}

.purple-text {
  color: #c271ff;
}

.font-32 {
  font-size: 32px;
}

.font-22 {
  font-size: 22px;
}

.font-18 {
  font-size: 18px;
}

.font-14 {
  font-size: 14px;
}

.holberton_school-icon-arrow_3,
.holberton_school-icon-arrow_4 {
  font-size: 5rem;
}

.arrow-black {
  color: #000000;
}

.video-card {
  width: 255px;
  height: 335px;
}

.play-img {
  margin: -110px 0 40px 85px;
}

[class^='holberton_school-icon-ic'] {
  color: #ffffff;
  font-size: 30px;
}

.opacity-35 {
  opacity: 0.35;
}
